@font-face {
	font-family: 'jbalvin';
	src:url('../fonts/jbalvin.eot?dtkv5w');
	src:url('../fonts/jbalvin.eot?#iefixdtkv5w') format('embedded-opentype'),
		url('../fonts/jbalvin.ttf?dtkv5w') format('truetype'),
		url('../fonts/jbalvin.woff?dtkv5w') format('woff'),
		url('../fonts/jbalvin.svg?dtkv5w#jbalvin') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="jb-"], [class*=" jb-"] {
	font-family: 'jbalvin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jb-estrella:before {
	content: "\e600";
}
.jb-manos:before {
	content: "\e601";
}
.jb-facebook2:before {
	content: "\e602";
}
